<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生登録</title>
</head>
<body>
<h1>受講生登録</h1>
<form th:action="@{/registerStudent}" th:object="${studentDetail}" method="post">

  <div>
    <label for="name">名前：</label>
    <input type="text" id="name" th:field="*{student.name}" required />
    <br>

    <label for="furigana">ふりがな：</label>
    <input type="text" id="furigana" th:field="*{student.furigana}" required />
    <br>

    <label for="nickname">ニックネーム：</label>
    <input type="text" id="nickname" th:field="*{student.nickname}"  />
    <br>

    <label for="email">メールアドレス：</label>
    <input type="text" id="email" th:field="*{student.email}" required />
    <br>

    <label for="area">住所：</label>
    <input type="text" id="area" th:field="*{student.area}" required />
    <br>

    <label for="age">年齢：</label>
    <input type="text" id="age" th:field="*{student.age}" required />
    <br>

    <label for="gender">性別：</label>
    <input type="text" id="gender" th:field="*{student.gender}" required />
    <br>

    <label for="remark">備考：</label>
    <input type="text" id="remark" th:field="*{student.remark}"  />
    <br>

    <label for="courseName">コース名：</label>
    <input type="text" id="courseName" th:field="*{studentsCourses.courseName}"  />
    <br>

    <label for="startDate">開始日：</label>
    <input type="datetime-local" id="startDate" th:field="*{studentsCourses.startDate}"  />
    <br>

    <label for="endDate">終了予定日：</label>
    <input type="datetime-local" id="endDate" th:field="*{studentsCourses.endDate}"  />
    <br>
  </div>

  <div>
    <button type="submit">登録</button>
  </div>

</form>
</body>
</html>
