<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生情報一覧</title>
</head>
<body>
<h1>受講生情報一覧</h1>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>名前</th>
    <th>カナ名</th>
    <th>ニックネーム</th>
    <th>メールアドレス</th>
    <th>地域</th>
    <th>年齢</th>
    <th>性別</th>
    <th>備考</th>
  </tr>
  </thead>
  <tbody>
  <tr th:unless="${studentDetail.student.isDeleted}"
      th:each="studentDetail : ${studentList}">
    <td th:text="${studentDetail.student.studentId}">1</td>
    <td>
      <a href="/studentList"
         th:href="@{/student/{studentId}(studentId=${studentDetail.student.studentId})}"
         th:text="${studentDetail.student.name}">山田太郎</a>
    </td>
    <td th:text="${studentDetail.student.furigana}">やまだたろう</td>
    <td th:text="${studentDetail.student.nickname}">たろたろ</td>
    <td th:text="${studentDetail.student.email}">taro@example.com</td>
    <td th:text="${studentDetail.student.area}">鹿児島</td>
    <td th:text="${studentDetail.student.age}">43</td>
    <td th:text="${studentDetail.student.gender}">男性</td>
    <td th:text="${studentDetail.student.remark}">特になし</td>
  </tbody>
</table>
</body>
</html>
