<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生情報一覧</title>
</head>
<body>
<h1>受講生情報一覧</h1>
<p>
  <a th:href="@{/register}">
    <button type="button">新規受講生登録</button>
  </a>
</p>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>名前</th>
    <th>カナ名</th>
    <th>ニックネーム</th>
    <th>メールアドレス</th>
    <th>地域</th>
    <th>年齢</th>
    <th>性別</th>
    <th>備考</th>
    <th>申込状況</th>
    <th>キャンセル</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="studentDetail : ${studentList}">
    <td th:text="${studentDetail.student.studentId}">1</td>
    <td>
      <a href="/studentList"
         th:href="@{/student/{studentId}(studentId=${studentDetail.student.studentId})}"
         th:text="${studentDetail.student.name}">山田太郎</a>
    </td>
    <td th:text="${studentDetail.student.furigana}">やまだたろう</td>
    <td th:text="${studentDetail.student.nickname}">たろたろ</td>
    <td th:text="${studentDetail.student.email}">taro@example.com</td>
    <td th:text="${studentDetail.student.area}">鹿児島</td>
    <td th:text="${studentDetail.student.age}">43</td>
    <td th:text="${studentDetail.student.gender?.displayName}">男性</td>
    <td th:text="${studentDetail.student.remark}">特になし</td>
    <td>
      <span th:each="course, stat : ${studentDetail.studentCourseList}">
        <span th:text="${course.courseName}">Java基礎コース</span>:
        <span th:text="${course.studentCourseStatus}">仮申込</span>
        <br th:if="${!stat.last}" />
      </span>
    </td>
    <td >
      <input type="checkbox" th:checked="${studentDetail.student.isDeleted}" >
    </td>

  </tbody>
</table>
</body>
</html>
