name: Java CI with Gradle
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
env:
  EC2_USER: 'ec2-user'
  EC2_HOST: '52.195.185.89'
  SRC_PATH: 'build/libs/*.jar'
  DEST_PATH: '/home/ec2-user/student_management/StudentManagement.jar'
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
    
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582
    
    - name: Build with Gradle Wrapper
      run: ./gradlew bootJar -x test
    
    - name: SCP Copy Application to EC2
      env:
        PRIVATE_KEY: ${{ secrets.AWS_EC2_PRIVATE_KEY }}
      run: |
        echo "$PRIVATE_KEY" > private_key && chmod 600 private_key
        echo "Testing SSH connection..."
        ssh -v -o StrictHostKeyChecking=no -i private_key ${{ env.EC2_USER }}@${{ env.EC2_HOST }} "echo 'SSH connection successful'"
        echo "Starting SCP..."
        scp -v -o StrictHostKeyChecking=no -i private_key ${{ env.SRC_PATH }} ${{ env.EC2_USER }}@${{ env.EC2_HOST }}:${{ env.DEST_PATH }}
    
    - name: SSH Application Deploy
      uses: appleboy/ssh-action@master
      with:
        host: ${{ env.EC2_HOST }}
        username: ${{ env.EC2_USER }}
        key: ${{ secrets.AWS_EC2_PRIVATE_KEY }}
        envs: DEST_PATH
        script: |
          sudo yum update -y
          if [ -f /etc/systemd/system/StudentManagement.service ]; then
            echo "already exists Service File"
          else
            cat <<EOL | sudo tee -a /etc/systemd/system/StudentManagement.service
          [Unit]
          Description=StudentManagement App
          
          [Service]
          ExecStart=java -jar ${DEST_PATH}
          EnvironmentFile=/etc/sysconfig/StudentManagement
          Restart=no
          Type=simple
          User=ec2-user
          Group=ec2-user
          SuccessExitStatus=143
          
          [Install]
          WantedBy=multi-user.target
          EOL
          fi
          
          sudo systemctl daemon-reload
          if sudo systemctl status StudentManagement 2>&1 | grep "Active: active (running)" ; then
            sudo systemctl restart StudentManagement
          else
            sudo systemctl start StudentManagement
          fi